stages:
    - create images
    - run containers

.template:
  image:
    name: node:lts
  services:
    - name: docker:19.03.14-dind
      command: ['--mtu=1400']
  tags:
    - gitlab-runner-fleeting-autoscale.sprts.ru


.job_create_images:
  stage: create images
  extends: .template
  image: harbor.sports.ru/docker/docker:stable
  before_script:
    - export DOCKER_BUILDKIT=1
    - echo $CI_JOB_TOKEN | docker login -u gitlab-ci-token --password-stdin $CI_REGISTRY
  only:
    - tags
    - stage
    - next-iteration

.job_run_containers:
  stage: run containers

image_server_prod:
  stage: create images
  extends: .job_create_images
  script:
    - docker build --build-arg FRONTEND_GITLAB_PACKAGE_REGISTRY_TOKEN="${CI_JOB_TOKEN}" --build-arg SENTRY_RELEASE="${CI_PROJECT_NAME}@${CI_COMMIT_TAG}" --build-arg GIT_SSH_KEY="${GIT_SSH_KEY}" -f Dockerfile_server -t $CI_REGISTRY_IMAGE/server:$CI_COMMIT_SHA .
    - docker tag $CI_REGISTRY_IMAGE/server:$CI_COMMIT_SHA $CI_REGISTRY_IMAGE/server:latest
    - docker push $CI_REGISTRY_IMAGE/server:$CI_COMMIT_SHA
    - docker push $CI_REGISTRY_IMAGE/server:latest
  only:
    - tags

image_server_stage:
  stage: create images
  extends: .job_create_images
  script:
    - docker build --build-arg FRONTEND_GITLAB_PACKAGE_REGISTRY_TOKEN="${CI_JOB_TOKEN}" --build-arg SENTRY_RELEASE="${CI_PROJECT_NAME}@${CI_COMMIT_TAG}" --build-arg GIT_SSH_KEY="${GIT_SSH_KEY}" -f Dockerfile_server -t $CI_REGISTRY_IMAGE/server:stage-$CI_COMMIT_SHA .
    - docker push $CI_REGISTRY_IMAGE/server:stage-$CI_COMMIT_SHA
  only:
    - stage

run_k8s_container_sports:
  extends: .job_run_containers
  trigger:
    project: k8s/special
    strategy: depend
  variables:
    DEPLOY_PREFIX: prod
    CHARTS: $CI_PROJECT_NAME
    HELM_VALUES: image.tag=$CI_COMMIT_SHA
  only:
    - tags

run_k8s_container_yc_sports_stage:
  extends: .job_run_containers
  trigger:
    project: k8s/special
    strategy: depend
  variables:
    DEPLOY_PREFIX: yc-stage
    CHARTS: $CI_PROJECT_NAME
    HELM_VALUES: image.tag=stage-$CI_COMMIT_SHA
  only:
    - stage

